.card-action {
    display: flex;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    margin: 15px;
    span.price {
        color: black;
        font-size: 12px;
        @media only screen and (max-width: 750px) {
            margin-top: 15px;
        }
    }
}
